@import "mixins";

@include respond(xs) {
  .home-hero {
    color: $color3;
    text-align: center;
    padding-top: 30%;

    h1 {
      font-size: 100px;
      margin: 20px 0;
    }
    .subheading-1 {
      font-size: 16px;
    }
    .explore-wrapper {
      margin-top: 20%;
    }
    .explore {
      height: 150px;
      width: 150px;
    }
  }
}

@include respond(md) {
  .home-page {
    background-image: url("../assets/home/background-home-tablet.jpg");
    background-position: center;
  }

  .navbar-ul-wrapper {
    display: block;
    margin-top: 0;
    border-radius: 0;
    width: max-content;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  .navbar-ul {
    padding: 0 20px;
  }
  .nav-item {
    display: inline-block;
    border-radius: 0;
    font-size: 14px;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    &.active {
      border: none;
      border-bottom: 1px solid $color3;
    }
    &:hover {
      border: none;
      border-bottom: 1px solid $color2;
    }
  }
  .nav-btn {
    display: none;
  }

  .home-hero {
    max-width: 80%;
    margin: auto;

    h1 {
      font-size: 140px;
    }
    .subheading-1 {
      font-size: 20px;
      letter-spacing: 3px;
    }
    .explore-wrapper {
      margin-top: 25%;
    }
    .explore {
      width: 240px;
      height: 240px;

      h4 {
        font-size: 32px;
      }
    }
  }
}

// Large Screens
@include respond(lg) {
  .home-page {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }

  .navbar-ul-wrapper::before {
    content: "";
    border: 1px solid #fff;
    opacity: 0.2;
    position: absolute;
    width: 25vw;
    max-width: 350px;
    top: 50%;
    transform: translateY(-50%);
    right: 98%;
  }

  .nav-item {
    margin: 0 30px;
  }
  .home-hero {
    display: flex;
    text-align: start;
    align-items: center;
    max-width: unset;
    padding-top: 20%;
    padding-left: 50px;
    padding-right: 50px;
    .col {
      width: 50%;
    }
    .home-txt-wrapper {
      max-width: min-content;
    }

    .subheading-1 {
      letter-spacing: 2px;
    }
    .explore-wrapper {
      margin-top: 0;
    }

    .explore {
      height: 200px;
      width: 200px;
    }
    .explore h4 {
      font-size: 32px;
    }
  }
}
