h1,
h2,
h3,
h4,
h5,
.subheading-1,
.subheading-2 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
}

.subheading-1 {
  font-size: 28px;
  letter-spacing: 2px;
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.navbar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
}

.navbar .logo {
  width: 48px;
  height: 48px;
}

.navbar-ul-wrapper {
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 10px;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  margin-top: 10px;
  display: none;
}

.navbar-ul-wrapper.clicked {
  display: block;
}

.navbar-ul {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.nav-item {
  display: block;
  line-height: 60px;
  border-radius: 10px;
  border-color: #d0d6f9;
}

.nav-item.active {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.nav-item:hover {
  border-left: 1px solid #d0d6f9;
  border-right: 1px solid #d0d6f9;
}

.nav-link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #ffffff;
  text-decoration: none;
}

.nav-btn {
  display: block;
}

@media only screen and (min-width: 768px) {
  .navbar-ul-wrapper {
    display: block;
    margin-top: 0;
    border-radius: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .navbar-ul {
    padding: 0 20px;
  }
  .nav-item {
    display: inline-block;
    border-radius: 0;
    font-size: 14px;
  }
  .nav-item:not(:last-of-type) {
    margin-right: 15px;
  }
  .nav-item.active {
    border: none;
    border-bottom: 1px solid #ffffff;
  }
  .nav-item:hover {
    border: none;
    border-bottom: 1px solid #d0d6f9;
  }
  .nav-btn {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-ul-wrapper::before {
    content: "";
    border: 1px solid #fff;
    opacity: 0.2;
    position: absolute;
    width: 25vw;
    max-width: 350px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 98%;
  }
  .nav-item {
    margin: 0 30px;
  }
}

.container {
  max-width: 90%;
  margin: auto;
  position: relative;
}

.destination-page {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #ffffff;
}

.destination-hero {
  padding-top: 30%;
  text-align: center;
}

.destination-hero .pick-your {
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  letter-spacing: 2px;
}

.destination-hero .pick-your span {
  color: #d0d6f9;
}

.planet-outer-wrapper {
  margin-top: 20px;
}

.planet-outer-wrapper .planet-pic {
  width: 170px;
}

.planet-info ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.planet-info ul .planet {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  margin: 5px;
  padding: 5px 0;
}

.planet-info ul .planet.active {
  border-bottom: 3px solid #ffffff;
}

.planet-info .planet-name {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
}

.planet-info .planet-description {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
}

.planet-info .meta-info {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  color: #d0d6f9;
}

.planet-info .destance,
.planet-info .travel-time {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .destination-page {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
  .destination-hero {
    padding-top: 20%;
  }
  .destination-hero .pick-your {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
  }
  .planet-outer-wrapper {
    padding-top: 5%;
  }
  .planet-outer-wrapper .planet-pic {
    width: 300px;
  }
  .planet-info ul .planet {
    margin: 10px 15px;
  }
  .planet-info .planet-name {
    margin: 20px 0;
  }
  .planet-info .planet-meta-info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .planet-info hr {
    margin: 30px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .planet-outer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .planet-picwrapper img {
    width: 400px;
    height: 400px;
  }
}
/*# sourceMappingURL=destination-styles.css.map */