.space-5 {
  min-height: 5vh;
}

.space-10 {
  min-height: 10vh;
}

.space-25 {
  min-height: 25vh;
}

.space-50 {
  min-height: 50vh;
}

body {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: normal;
}

h5,
.subheading-1,
.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
}

.title-1 {
  font-size: 4rem;
}

.color-1 {
  color: #0b0d17;
}

.color-2 {
  color: #d0d6f9d9;
}

.color-3 {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  width: 48px;
  height: 48px;
}

.navbar-ul-wrapper {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 10px;
  display: none;
}
.navbar-ul-wrapper.clicked {
  display: block;
}

.navbar-ul {
  margin: 0;
  padding-inline-start: 0;
}

.nav-item {
  display: block;
  line-height: 60px;
  border-radius: 10px;
  border-color: #d0d6f9d9;
}
.nav-item.active {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.nav-item:hover {
  border-left: 1px solid #d0d6f9d9;
  border-right: 1px solid #d0d6f9d9;
}

.nav-link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #ffffff;
  text-decoration: none;
}

.nav-btn {
  display: block;
}

@media only screen and (min-width: 768px) {
  .navbar-ul-wrapper {
    display: block;
    margin-top: 0;
    border-radius: 0;
    width: max-content;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }

  .navbar-ul {
    padding: 0 20px;
  }

  .nav-item {
    display: inline-block;
    border-radius: 0;
    font-size: 14px;
  }
  .nav-item:not(:last-of-type) {
    margin-right: 15px;
  }
  .nav-item.active {
    border: none;
    border-bottom: 1px solid #ffffff;
  }
  .nav-item:hover {
    border: none;
    border-bottom: 1px solid #d0d6f9d9;
  }

  .nav-btn {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-ul-wrapper::before {
    content: "";
    border: 1px solid #fff;
    opacity: 0.2;
    position: absolute;
    width: 25vw;
    max-width: 350px;
    top: 50%;
    transform: translateY(-50%);
    right: 98%;
  }

  .nav-item {
    margin: 0 30px;
  }
}
.home-page {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.home-hero {
  color: #ffffff;
  text-align: center;
}
.home-hero .home-txt-wrapper {
  height: 50%;
}
.home-hero .explore {
  height: 120px;
  width: 120px;
  line-height: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: auto;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 400px) {
  .home-hero {
    text-align: center;
  }
  .home-hero .explore {
    height: 170px;
    width: 170px;
  }
}
@media only screen and (min-width: 768px) {
  .home-page {
    background-image: url("../../assets/home/background-home-tablet.jpg");
    background-position: center;
  }
}
@media only screen and (min-width: 992px) {
  .home-page {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }

  .home-hero {
    text-align: start;
  }
  .home-hero .explore {
    height: 200px;
    width: 200px;
  }
}
